.footer-loading {

  text-align: center;

  button {

    background: var(--color-white);
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    color: var(--color-background);
    margin-bottom: 20px;
  }

  img {

    width: 80px;
    height: 80px;
    -webkit-animation: fa-spin 700ms infinite linear;
    animation: fa-spin 700ms infinite linear;
  }

  p {

    margin: 0;

  }

  p:first-child {

    font-size: 25px;
    color: var(--color-white);

  }

  p:nth-child(2) {

    font-size: 15px;
    color: var(--color-gray);
    margin-bottom: 15px;

  }

}

