@import "../../../../theme/variables";

.back-button {

  font-size: 20px;
  margin-top: 15px;

  @include screenType(desktop) {

    margin-top: 30px;

  }

  i {

    padding-right: 10px;

  }

}

.back-button:active {

  opacity: 0.5;

}
