@import "../../../../theme/variables";

/*

 */

.list-album {

  padding-left: 10px;
  padding-right: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-column-gap: 15px;
  justify-content: space-between;

  /*
   * Screen with just one item
   */
  @media screen and (max-width: 330px)  {

    display: block;
    grid-gap: 0;

  }

  .card {

    width: 150px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    /*
     * Screen with just one item
     */
    @media screen and (max-width: 330px)  {

      width: 80%;
      margin-bottom: 20px;

    }

    img {

      border-radius: 0;
      width: 100%;
      margin-bottom: 10px;

    }

    p {

      font-size: 14px;
      margin: 0;
      padding: 2px;

    }

    p:first-child {
      color: map-get($colors, white);
    }

    p:last-child {
      color: map-get($colors, gray);
    }

  }

  .skeleton {

    width: 150px;
    height: 250px;

    @media screen and (max-width: 330px)  {

      width: 80%;
      height: 300px;
      margin-bottom: -25px;

    }

    background-repeat: no-repeat;

    background-image:
      linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
      linear-gradient(lightgray 60%, transparent 0), // img
      linear-gradient(lightgray 20%, transparent 0), // title
      linear-gradient(lightgray 20%, transparent 0); // artist

    background-size:
      50px 200px, /* highlight */
      100% 100%, // img
      70% 20%, // title
      70% 20%; // artist


    background-position:
      0 0,
      0 0, // img
      50% 85%, // title
      50% 95%; // artist

    animation: loading-album 1s infinite;

  }

  @keyframes loading-album {
    to {
      background-position:
        100% 0, // animation
        0 0, // img
        50% 85%, // title
        50% 95%; // artist

    }
  }


}

