@import "../../../../theme/variables";

.list-album {

  padding-left: 10px;
  padding-right: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-column-gap: 15px;
  justify-content: space-between;

  @include screenType(mobile-small-screen) {

    display: block;
    grid-gap: 0;

  }

  .card {

    width: 150px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include screenType(mobile-small-screen) {

      width: 80%;
      margin-bottom: 20px;

    }

    img {

      border-radius: 0;
      width: 100%;
      margin-bottom: 10px;

    }

    p {

      font-size: 14px;
      margin: 0;
      padding: 2px;

    }

    p:first-child {
      color: var(--color-white);
    }

    p:last-child {
      color: var(--color-gray);
    }

  }

  &.skeleton-container {

    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;

    /*
     * Screen with desktop
     */
    @include screenType(desktop) {

      grid-template-rows: repeat(1, 1fr);

    }

    @include screenType(mobile-small-screen) {

      height: 250px;

    }

    .skeleton {

      width: 150px;
      height: 250px;

      @include screenType(mobile-small-screen) {

        width: 80%;
        height: 300px;
        margin-bottom: -25px;

      }

      background-repeat: no-repeat;

      background-image:
              linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), // animation ing
              linear-gradient(lightgray 60%, transparent 0), // img

              linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), // animation title
              linear-gradient(lightgray 20%, transparent 0), // title

              linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), // animation artist
              linear-gradient(lightgray 20%, transparent 0); // artist

      background-size:
              50px 60%, //animation img
              100% 100%, // img

              30px 12px, //animation title
              70% 20%, // title

              30px 12px, //animation artist
              70% 20%; // artist


      background-position:
              0 0, //animation img
              0 0, // img

              18% 71%, //animation title
              50% 85%, // title

              18% 79%, //animation title
              50% 95%; // artist

      animation: loading-album 0.8s infinite linear;

    }

    @keyframes loading-album {
      to {
        background-position:
                100% 0, // animation img
                0 0, // img

                83% 71%, //animation title
                50% 85%, // title

                83% 79%, //animation artist
                50% 95%; // artist

      }
    }

  }




}

