.loading-spinner {

  width: 100%;
  display: block;
  margin-top: 20vh;
  margin-right: 5vw;

  img {

    display: block;
    margin: auto;

  }

  p {

    text-align: center;
    margin: 0;
    font-size: 30px;
  }

}
