/*
 * Fade In
 */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 * Slide Down
 */

@keyframes slideDown {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 100%;
  }

}
