@import '../../theme/variables';

.container-tracks-album {

  height: 80%;
  margin-top: 40px;
  overflow: auto;

  @include screenType(desktop) {

    flex-direction: row;
    display: flex;

    .album {

      flex: 0.1;

    }

    .tracks {

      flex: 0.9;

    }

  }

}
