@import '../../../../theme/variables';

.track-list {

  table-layout: fixed;
  border-collapse:separate;
  border-spacing: 0 1.5em;

  @include screenType(desktop) {

    margin-top: 0;
    margin-left: 25px;

  }

  tbody {
    margin-top: -10px;
  }

  .track-row {

    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;

    cursor: pointer;
    width: 100%;

    &.selected {

      td {

        color: var(--color-green) !important;

      }

    }

    td:first-child {

      width: 5%;
      color: var(--color-gray);

    }

    td:nth-child(2) {

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      padding-left: 5px;
      padding-right: 5px;
      width: 100%;

      //need to be 0 to work
      max-width: 0;
      color: var(--color-white);


    }

    td:last-child {

      width: 5%;
      color: var(--color-gray);

    }

  }

}
