@import 'variables';

html, body {

  font-family: Roboto, serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, background);

}

#app{

  color: map-get($colors, white);

  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;

  @media screen and (max-width: 800px) {

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

  }

}
